/* somos */

.somos

    p {
    text-align: left;
    font-size: 20px;
    padding-top: 10%;
    padding-right: 5%;
    }

    h3 {
    font-size: 40px;
    text-align: left;
    padding-top: 10%;
    padding-right: 0%;

    form {
    margin: 0px 500px 0px 0px;
    }

    iframe {
        width: 100%;
        
    }

}

/* nosotros */

.nosotros {
    
    h2 {
    text-align: left;
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 130px;
    }

    h3 {
        font-size: 40px;
        text-align: left;
        padding-top: 10%;
        padding-right: 5%;
    }

    p {
        text-align: left;
        font-size: 18px;
        padding: 50px 400px 50px 400px;
    }

    form {
        margin: 150px 500px 0px 500px;
    }

    div p {
        text-align: left;
    }

}